.innerCard{
    height:calc(100% - 4px);
    width:calc(100% - 4px);
    background-color: rgb(14, 13, 13);
    margin:2px;
    border-radius:6px;
    display:grid;
    justify-items:center;
    text-align:center;
    
}
